# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.env.*

# Environment variables (IMPORTANT)
.env

# IDE / Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
